.updateProfileArea{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap:3rem;

    margin-right: 30vw;
    margin-top: -5vw;
    background-color: cornsilk;
}

.heading{
    margin-left: 10vw;
    margin-top: 1vw;

}
.updateProfileBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
h3{
    font-family: 'Roboto';
    font-size: 3rem;
}
